.filter{
  margin-bottom: 10px;
}

.filter-component {
    font-family: Arial, sans-serif;
    margin: 10px;
  }
  
  .filter-section {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  .filter-header {
    font-size: 16px;
    font-weight: bold;
  }
  
  .filter-options {
    margin-top: 10px;
    padding-left: 15px;
  }
  
  .filter-option {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    align-items: baseline;
  }
  