.footer {
    background: linear-gradient(to bottom, #f5f1ea, #f8e6c7);
    padding: 26px;
    font-size: 14px;
    line-height: 1.8;
  } 
  
  .footer-section h3 {
    margin-bottom: 1rem;
    font-size: 16px;
    color: #333;
  }
  
  .footer-section p {
    margin: 0.5rem 0;
    color: #ffffff;
  }
  
  .footer-form {
    display: flex;
    align-items: center;
  }
  
  h1{
    color: #000;
    margin: 0;
    font-size: 18px;
  }
  
  .footer-button {
    background-color: #ccc;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .footer-contact {
    margin-top: 1rem;
    position: relative;
    top: 50%;
    text-align: left;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 0.5rem;
    color: #1f1f1f;
    cursor: pointer;
  }
  
  .footer-list li:hover {
    color: #000;
  }

  .subtitle {
    font-size: 11px;
    color: #1f1f1f;
  }

  .contact-us{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 20px;
    cursor: pointer;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .footer-section {
    flex: 1; /* Ensures sections take up equal space */
    padding: 20px; /* Optional: Adds space inside each section */
  }
  
  @media (max-width: 1024px) {
    .footer-section{
      padding: 10px;
      width: 100%;
      margin-left: -8px;
    }
  }

  @media (max-width: 768px) {

    .footer{
      position: relative;
      z-index: 999;
    }
  
    .footer-section {
      padding: 10px; /* Adjust padding for smaller screens */
    }

    .footer-contact{
      text-align: left;
    }

    .contact-us {
      gap: 10px
    }

    .footer-section h3{
      font-size: small;
    }

    .footer-section ul{
      font-size: smaller;
    }
  }
  
  @media (max-width: 481px){
    h1{
      font-size: 16px;
    }

    .subtitle{
      font-size: 9px;
    }
  }
  
  @media (max-width: 390px) {
    div.footer-contact{
      position: relative;
      left: -20px;
    }
  }
  
  
  