/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Container */
.modal-container {
  background: #f3f3f3;
  padding: 20px 30px;
  width: 400px;
  text-align: center;
  position: relative;
  height: 40vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Close Button */
button.close-button {
  position: absolute;
  color:#333;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}

button.close-button:hover{
  background-color: #333;
  color: white;
}

/* Modal Title */
.modal-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

/* Line */
.modal-divider {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

/* Modal Form Input */
.modal-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 0;
}

/* Modal Button */
.modal-button {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
  background: #8f7a4a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-button:hover {
  background: #725e37;
}

/* Open Modal Button */
.open-modal-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-modal-button:hover {
  background: #0056b3;
}

.error-message{
  margin-top: 5px;
  margin-bottom: 0;
  color: rgb(180, 33, 33);
}

@media (max-width: 750px){
  .modal-container{
    height: 45vh;
  }
}