.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }

  .product-price{
    display: flex;
    justify-content: left;
  }

  .discount{
    color: red;
    font-weight: 600;
    margin-left: 10px;
  }
