.product-detail-page{
  display: flex;
  flex-direction: column;
  margin-top: 104px;
}

.product-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
  }
  
  .product-image img {
    width: 300px;
  }
  
  .product-info {
    max-width: 400px;
  }
  
  .product-rating {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .product-prices {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  
  .discountedPrice {
    font-weight: bold;
    color: green;
  }
  
  .originalPrice {
    text-decoration: line-through;
    color: gray;
  }
  
  .discount {
    color: red;
  }
  
  .buy-now, .add-to-cart {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .buy-now {
    background-color: #ff7f50;
    color: white;
  }
  
  .add-to-cart {
    background-color: #ffcc00;
    color: black;
  }
  
  .product-image-gallery {
    display: flex;
    align-items: center;
  }
  
  .thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
  }
  
  .thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
  }
  
  .main-image-container {
    flex: 1;
  }
  
  .main-image {
    width: 350px;
    height: auto;
    border-radius: 8px;
  }
  