.product-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.product-card {
  border: 1px solid #ddd;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.product-image img {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
} 

.product-image img:first-child {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  
}

.product-image img:last-child {
  opacity: 1;
  transition: opacity 1.5s ease-in-out, transform 0.4s ease ;
}

.product-image:hover img:first-child {
  opacity: 0;
  
}

.product-image:hover img:last-child {
  opacity: 1;
  transform:scale(1.05);
}


.product-rating {
  font-size: 14px;
  color: #ffb400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reviews {
  color: #555;
  font-size: 12px;
  margin-left: 4px;
}

.product-detail{
  margin-left: 10px;
  margin-bottom: 60px;
}

.product-detail h3 {
  display: flex;
  margin: 10px 0;
  margin-right: 4px;
  font-size: 13px;
  color: #555252;
  font-weight: 600;
  justify-content: start;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.product-prices {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.original-prices {
  text-decoration: line-through;
  color: #888;
  font-size: 12px;
}

.discounted-prices {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}


.addtocart {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #cea277;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.addtocart:hover {
  background-color: #a7724a;
}

/* .product-container {
  display: flex;
  gap: 10px; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.product-card {
  border: 1px solid #ddd;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 8px 8px;
  width: calc(50% - 10px); 
  max-width: 260px; 
  min-width: 160px;
}


.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */