.social-media-badges {
    position: fixed;
    bottom: -40px ;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between badges */
    z-index: 100; /* Ensure it appears above other elements */
  }

  .social-media-badges svg{
    color: #b15901;
  }
  
  .badge {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .badge img {
    width: 70%; /* Icon size relative to the badge */
    height: 70%;
    object-fit: contain;
  }
  
  .badge:hover {
    transform: scale(1.1); /* Slight zoom on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .whatsapp-badge {
    background-color: white; 
  }
  
  .instagram-badge {
    background-color: white;
  }
  