
.orders-container {
  height: 100vh;
  padding: 20px;
  width: 100vw;
  font-family: Arial, sans-serif;
  background-color: #f9f4ee;
}

.export-btn {
  background-color: #a78871;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  cursor: pointer;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.orders-table th {
  background-color: #c69c81;;
  color: white;
}

.orders-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
