.collections{
  background-color: #FFFDD0;
}
.product {
  position: relative;
  display: flex;
  top:-10px;
  margin-left: 10px;
}

/* Sidebar for desktop */
.sidebar {
  width: 20%;
  padding: 10px;
}

/* Product grid for desktop */
.contents {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-controls{
  display: flex;
  justify-content: center;
}

.filter-btn {
  background-color: rgb(100, 83, 59);
  font-weight: 600;
  color: #f3e5ca;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 10vw;
  text-align: center;
  margin: 0px;
}

.filter-btn:hover{
  background-color: rgb(124, 97, 58);
}

/* Responsive layout for screens <= 768px */
@media (max-width: 768px) {
  .product {
    flex-direction: column;
  }

  /* Hide sidebar on mobile */
  .sidebar {
    display: none;
  }

  /* Product grid for mobile */
  .contents {
    width: 100%;
    order: 1; /* Move products above filters */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  /* Style for the filter button on mobile */
  .filter-btn{
    margin: 10px;
    width: 30vw;
  }
}
