.BestSeller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.heading{
    padding-bottom: 10px;
}

.Product{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

@media (max-width: 1024px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 30px;
    }
}

@media (max-width: 583px){
    .Product{
        gap: 10px;
    }
}