.showcase {
  background-color: #f5ecdd;
  padding: 40px 20px;
  text-align: center;
  margin-top: 84px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
  gap: 10px;
  margin-bottom: 20px;
}

.image-item {
  position: relative;
  display: inline-block; /* Ensures the image and text are treated as a block */
}

.image-item img {
  display: block; /* Ensures no space below the image */
  width: 100%; /* Adjust as needed */
  height: auto;
  border-radius: 8px;
}

img.last{
  height: 490px;
}

img.middle {
  height: 400px;
}

.hiddentext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: white; /* Make text visible over the image */
  font-size: 1.5rem; /* Adjust font size as needed */
  text-align: center;
  padding: 0.5rem; /* Optional: Add padding around the text */
  border-radius: 0.25rem; /* Optional: Rounded corners for the background */
}


.text-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
  letter-spacing: 1px;
}

.text-section p {
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  margin: 0;
}

.hiddentext{
  display: none;
  color: white;
  font-weight: 500;
  font-size: larger;
}

/* Media Query */
@media (max-width: 1123px){
  img.middle{
    height: 350px;
  }
}

@media (max-width: 986px){
  img.middle{
    height: 330px;
  }
}

@media (max-width: 925px){
  img.middle{
    height: 300px;
  }
}

@media (max-width: 832px){
  img.middle{
    height: 270px;
  }
}

@media (max-width: 750px) {
  .showcase{
    padding: 0 20px;
  }

  .image-grid {
    grid-template-columns: repeat(1, 1fr); /* Display 3 columns */
  }
  
  .image-item{
    width:100%;
    aspect-ratio: 5/3;
  }

  .image-item img{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
  }

  .hiddentext{
    display: flex;
  }
  /* Optionally hide the 4th image */
  .hidden {
    display: none;
  }
}
