.Testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .heading{
    padding-bottom: 10px;
  }
  
  .review {
    display: flex;
    gap: 30px;
    justify-content: space-around;
  }

  @media (max-width: 1024px) {
    .review{
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }