.shipping{
    margin-top: 74px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    color: #4B3621;
    line-height: 1.5;
}

.shipping-info{
    font-size: 16px;
}

@media (max-width: 768px) {
    .shipping-info{
        font-size: 14px;
    }
}