.carousel-container {
  margin-top: 104px;
  text-align: center;
  padding-top: 5px;
  background: #333;

}

.breadcrumb{
  display: flex;
  font-size: 34px;
  /* color: #eba834; */
  color: #f5b330;

}

.sliders{
  position: relative;
}


.splide__track {
  overflow: visible;
}

.splide__slide{
  background: #333;
}

.curved-image {
  width: 95%;
  height: 90%;
  object-fit: cover;
}

.splide__arrow {
  background: rgba(255, 255, 255);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.splide__arrow svg{
  color: white;
}

.splide__arrow:hover {
  background: black;
}

.slider-wave {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  left:0;
  right:0;
  z-index: 2;
}

.slider-wave svg {
  width: 100%;
  height: auto;
  display: block;
}

.slider-wave2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  left:0;
  right:0;
  bottom: 50px;
  z-index: 2;
  transform: rotate(180deg);
}

.slider-wave2 svg {
  width: 100%;
  height:auto;
  display: block;
}

.category-name {
  position: relative;
  z-index: 10;
  text-decoration: none;
  color: #ebc882;
  font-weight: 600;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.splide__slide:not(.is-active) .category-name {
  opacity: 0.4;
  transform: scale(0.9);  /* Shrink inactive items slightly */
}

.splide__slide.is-active .category-name {
  animation: fadeInUp 0.6s ease-out;
}

/* Smooth fade-in & slide-up effect */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1325px) and (max-width: 1800px){
  .slider-wave2{
    bottom: 60px;
  }
}

@media (min-width: 911px) and (max-width: 994px){
  .slider-wave2{
    bottom: 45px;
  }
}

@media (min-width: 557px) and (max-width: 786px){
  .slider-wave2{
    bottom: 40px;
  }
}

@media (min-width:481px) and (max-width:491px) {
  .slider-wave2{
    bottom: 35px;
  }
}

@media (min-width:420px) and (max-width:480px) {
  .slider-wave2{
    bottom: 65px;
  }
}

@media (max-width:419px) {
  .slider-wave2{
    bottom: 60px;
  }
}

@media (min-width:351px) and (max-width:389px) {
  .slider-wave2{
    bottom: 55px;
  }
}

@media (max-width:350px) {
  .slider-wave2{
    bottom: 50px;
  }
}
